body {
    margin: 0;
    padding: 0;
    min-width: 500px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Calibri", sans-serif;
    font-weight: 400;
	color: #444444;
	background-color: #f8f8f8;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.custom-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1250px;
}

/* Header */

.page-header {
	margin-bottom: 130px;
}

/* Contacts */

.contacts {
	display: flex;

	justify-content: space-between;

	margin-bottom: 50px;
	padding-top: 10px;
}

.contacts__title {
	margin: 0;
	padding-top: 7px;

	font-size: 16px;
	color: #697b8a;
}

.contacts__social {
	margin-right: 20px;
}

.language-change {
	padding-top: 7px;
	padding-right: 30px;

	font-size: 16px;
	font-weight: 700;
	color: #697b8a;
	text-decoration: none;
}

.contacts__wrapper {
	display: flex;
}

.contacts__phone {
	display: block;
	position: relative;

	padding-top: 7px;
	padding-left: 70px;

	color: #697b8a;
	font-size: 26px;
	font-weight: 700;
	text-decoration: none;
}

.contacts__phone::before {
	content: "";

	display: block;
	position: absolute;

	left: 0;
	top: 0;

	width: 40px;
	height: 40px;

	border: solid 2px #697b8a;
	border-radius: 50%;
	background-image: url("../img/phone.png");
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 860px) {
	.contacts {
		flex-direction: column;
		min-height: 150px;
	}

	.contacts__title {
		align-self: center;
	}

	.contacts__wrapper {
		align-self: center;
	}
}

/* Socials */

.social {
	display: flex;

	justify-content: space-between;
	align-items: center;
	align-self: center;

	box-sizing: border-box;
	min-height: 40px;

	border-radius: 2px;
	border: solid 1px #abadae;
	background-color: #e7ebee;
}

.social__item a {
	position: relative;
	display: block;

	width: 54px;
	height: 24px;

	background-repeat: no-repeat;
	background-position: center;
}

.social__item a:hover::after,
.social__item a:hover::before {
	content: "";

	display: block;
	position: absolute;

	top: 0;

	width: 1px;
	height: 100%;

	background-color: #d0d3d4;
}

.social__item a:hover::after {
	left: 0;
}

.social__item a:hover::before {
	right: 0;
}

.social__item--vk a {
	background-image: url("../img/vk.png");
}

.social__item--fb a {
	background-image: url("../img/facebook.png");
}

.social__item--yt a {
	background-image: url("../img/youtube.png");
}

.social__item--inst a {
	background-image: url("../img/instagram.png");
}

.social__item--rss a {
	background-image: url("../img/rss.png");
}

/* Main Navigation */

.main-nav {
	display: flex;
	position: relative;
	
	justify-content: space-between;
}

.main-nav__wrapper {
	display: flex;
}

.main-nav__logo {
	display: block;
	height: 48px;
}

.main-nav__list {
	display: flex;
	justify-content: space-between;
	align-self: center;

	width: 840px;
}

.main-nav__item {
	position: relative;
}

.main-nav__item a {
	display: block;

	height: 35px;

	color: #656464;
	text-decoration: none;
}

.main-nav__item--current::before {
	content: "";

	display: block;
	position: absolute;

	left: 0;
	right: 0;
	bottom: 0;

	height: 3px;

	background-color: #fa6060;
}

.main-nav__switch {
	display: none;
	position: relative;

	align-self: center;

	padding: 0;
	width: 50px;
	height: 7px;

	border: none;
	background-color: #697b8a;
}

.main-nav__switch::after,
.main-nav__switch::before {
	content: "";

	display: block;
	position: absolute;

	width: 50px;
	height: 7px;

	background-color: #697b8a;
}

.main-nav__switch::after {
	left: 0;
	top: -10px;
}

.main-nav__switch::before {
	left: 0;
	bottom: -10px;
}


@media (max-width: 860px) {
	.main-nav {
		flex-direction: column;
	}

	.main-nav__wrapper {
		justify-content: space-around;
		width: 100%;
	}

	.main-nav__switch {
		display: block;
	}

	.main-nav__list {
		align-content: center;
		flex-direction: column;

		top: 50px;
		right: 0;

		width: 100%;
		z-index: 1;
	}

	.main-nav--closed .main-nav__list {
		display: none;
	}

	.main-nav--opened .main-nav__list{
		display: block;
	}

	.main-nav__item a {
		box-sizing: border-box;
		padding: 10px 0;
		width: 100%;
		min-height: 50px;

		text-align: center;
		border-bottom: solid 1px #444444;
	}
}

/* Slide-button */
.slide-button {
	position: absolute;

	padding: 0;
	width: 23px;
	height: 17px;

	border: none;
	background-image: url("../img/arrow.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: transparent;

	cursor: pointer;
}

.slider-button--inactive {
	opacity: 0.3;
}

/* Intro */

.intro {
	position: relative;
	width: 50%;
}

.intro__wrapper {
	display: flex;
	justify-content: space-between;

	margin-bottom: 120px;
}

.intro__images-wrapper {
	width: 96%;
	/* 600px; */
	height: 83%;
	/* 380px; */

	overflow: hidden;
}

.intro__title {
	margin: 0;
	margin-top: 5px;

	font-size: 32px;
	color: #697c8c;
}

.intro__version {
	margin: 0;
	margin-top: 15px;
}

.intro__version a {
	color: #fa6060;
	text-decoration: none;
}

.intro__slide-button {
	position: absolute;

	top: 0;
	right: 0;

	width: 35px;
	height: 40px;
}

.intro__slide-button--up {
	left: 0;
	top: 0;
}

.intro__slide-button--down {
	right: 0;
	bottom: 0;

	transform: rotate(180deg);
}

@media (max-width: 860px) {
	.intro__wrapper {
		flex-direction: column;
		align-items: center;		
	}

	.intro {
		width: 90%;
	}
}

/* Download */

.download {
	width: 50%;
}

.download__logo {
	margin-left: -15px;
	width: 320px;
}

.download__text {
	margin: 0;
	margin-bottom: 18%;
	width: 80%;

	font-size: 36px;
	line-height: 48px;
	letter-spacing: 1px;
}

.download__wrapper {
	position: relative;

	box-sizing: border-box;
	padding-right: 200px;
	min-height: 70px;
	width: 63%;
	min-width: 260px;

	border: solid 3px #d6d6d6;
	border-radius: 35px;
}

.download__button {
	display: block;

	padding: 14px 15px 0;

	text-align: center;
	font-size: 32px;
	color: #697b8a;
	text-decoration: none;
}

.download__buy-button {
	display: block;
	position: absolute;

	right: -3px;
	top: -3px;
	
	box-sizing: border-box;
	padding: 17px 0;
	width: 55%;
	min-height: 70px;

	text-align: center;
	font-size: 32px;
	color: #f8f8f8;
	text-decoration: none;

	border-radius: 35px; 
	background-color: #fa6060;
}

@media (max-width: 860px) {
	.download {
		margin-bottom: 50px;
		width: 100%;
	}

	.download__logo {
		margin: auto;
	}

	.download__text {
		margin: 0 auto;
		margin-bottom: 50px;
		text-align: center;
	}

	.download__wrapper {
		margin: 0 auto;
	}
}

/* Information */

.info__background {
	padding: 120px 0;
	background-color: #f4f4f4;
}

.info__link-wrapper {
	border-bottom: solid 10px #dbdbdb;
}

.info__nav {
	display: flex;
	justify-content: space-between;
}

.info__tab {
	position: relative;
	padding-right: 22px;
}

.info__tab a {
	position: relative;
	display: block;

	padding-bottom: 10px;

	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	text-decoration: none;
	color: #767676;
}

.info__tab::before {
	content: "";

	display: block;
	position: absolute;

	right: 0;
	top: 10px;

	width: 16px;
	height: 12px;

	background-image: url("../img/arrow.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 16px 12px;

	transform: rotate(180deg);
}

.info__tab--current a {
	color: #fa6060;

	transform: translateY(-13px);
}

.info__tab--current::before {
	display: none;
}

.info__tab--current a::after {
	content: "";

	position: absolute;
	display: block;

	top: 100%;

	width: 100%;
	height: 15px;

	background-color: #dbdbdb;
}

.info__content-wrapper {
	display: flex;
	justify-content: space-between;
}

.info__list {
	position: relative;

	padding-right: 75px;
	padding-left: 200px;
	min-width: 175px;

	font-size: 24px;
	color: #697c8c;
}

.info__item {
	margin-bottom: 20px;
}



.info__item:nth-child(4) {
	position: relative;

	margin: 30px 0;

	color: #fa6060;
	font-size: 40px;
	letter-spacing: 1px;
}

.info__item:nth-child(4)::after {
	content: "";

	position: absolute;
	display: block;

	bottom: -15px;
	right: 0;

	width: 500%;
	height: 1px;

	background-color: #8e8e8e;

	overflow: visible;
}

.info__item:nth-child(2),
.info__item:nth-child(6) {
	opacity: 0.8;
}

.info__item:nth-child(1),
.info__item:nth-child(7) {
	opacity: 0.6;
}

.info__item:last-child {
	margin-bottom: 0;
}

.info__current-item {
	position: absolute;

	top: 158px;
	left: 10px;

	width: auto;

	font-size: 40px;
	letter-spacing: 1px;
}

.info__current-item span {
	color: #fa6060;
}

.info__slide-button {
	position: absolute;

	right: 10px;
	top: 155px;

	width: 35px;
	height: 40px;
}

.info__slide-button--up {
	right: 0;
	top: 0;
}

.info__slide-button--down {
	left: 0;
	bottom: 0;
	transform: rotate(180deg);
}

.info__slide-button--inactive {
	opacity: 0.3;
}

.info__download {
	padding-top: 15px; 
	width: 40%;
}

.info__about-wrapper {
	display: flex;

	justify-content: space-between;
	align-items: center;

	margin-bottom: 80px;
}

.info__about {
	box-sizing: border-box; 
	margin: 0;
	padding-top: 25px;
	width: 330px;
	min-height: 150px;
}

.info__more {
	display: block;	

	margin-top: 5px;
	
	font-size: 24px;
	color: #fa6060;
	line-height: 38px;
	text-decoration: none;
}

.info__buttons-wrapper {
	display: flex;
	justify-content: space-around;

	width: 100%;
}

.info__button {
	display: block;

	box-sizing: border-box;
	padding: 15px 0;
	width: 240px;
	min-height: 70px;

	text-align: center;
	font-size: 32px;
	color: #748695;
	text-decoration: none;

	border-radius: 35px;
	border: solid 3px #748695;
}

.info__button--opportunities {
	color: #f8f8f8;
	background-color: #748695;
}

@media(max-width: 860px) {
	.info__content-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.info__download {
		width: 80%;
	}

	.info__about-wrapper {
		justify-content: space-around;
	}

	.info__avatar {
		margin-right: 10px;
	}
}

/* Footer */

.page-footer {
	padding-top: 80px;

	color: #f8f8f8;
	font-weight: 100;
	line-height: 30px;

	background-color: #4f4f4f;
}

.page-footer__column {
	width: 550px;
}

.page-footer a {
	color: #f8f8f8;
	text-decoration: none;
}

.page-footer__title {
	margin: 0;
	margin-bottom: 20px;

	font-size: 36px;
	font-weight: 400
}

.page-footer__wrapper {
	display: flex;
	justify-content: space-around;
}

.page-footer__contacts {
	margin-bottom: 100px;
}

.page-footer__contacts p {
	margin: 0;
}

.page-footer__socials {
	margin-bottom: 60px;
}

.page-footer__socials td {
	width: 240px;
}

.page-footer__other {
	display: flex;
	justify-content: space-between;

	width: 395px;
}

.page-footer__usefull {
	margin-bottom: 40px;
}

.page-footer__copyright {
	display: flex;
	justify-content: space-around;

	margin-top: 75px;
	padding-bottom: 40px;
}

.page-footer__copyright-item {
	margin: 0;
	width: 550px;
}

@media (max-width: 860px) {
	.page-footer__wrapper {
		flex-direction: column;
		align-items: center;
	}

	.page-footer__column {
		text-align: center;
		width: auto;
	}

	.page-footer__info {
		margin-bottom: 60px;
	}

	.page-footer__socials {
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}

	.page-footer__other {
		margin: 0 auto;
	}

	.page-footer__copyright {
		flex-direction: column;
		align-items: center;		
	}

	.page-footer__copyright-item {
		margin-bottom: 20px;
		width: auto;
	}

	.page-footer__copyright-item:last-child {
		margin-bottom: 0;
	}
}